@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class=" py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col">
            <div class="card shadow">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <i class="bi bi-person-gear" style="font-size: 5rem; color: lightgrey;"></i>
                        <p class="card-text mt-2">Configure your Users on the platform</p>
                        <a href="Users" class="btn btn-primary">User Management</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <i class="bi bi-clipboard-check" style="font-size: 5rem; color: lightgrey;"></i>
                        <p class="card-text mt-2">Capture the risks on the platform</p>
                        <a href="RiskLogs" class="btn btn-primary">Risk Capture</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="bi bi-pie-chart-fill" style="font-size: 5rem; color: lightgrey;"></i>
                    <p class="card-text mt-2">Customizable reports views</p>
                    <a href="#" class="btn btn-primary">Reporting & Analytics</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-body text-center">
                    <i class="bi bi-box-seam" style="font-size: 5rem; color: lightgrey;"></i>
                    <p class="card-text mt-2">View reports inventory summary</p>
                    <a href="#" class="btn btn-primary">Inventory</a>
                </div>
            </div>
        </div>
    </div>
</div>
