@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
